# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Tests & Coverage
.pytest_cache/
.coverage

# Local data and env
.env
*.env
.env.*
isg.db
pgdata/
test*.db

# (Commit Alembic versions to VCS)
